/* .ul-ngang{
  display: flex;
}
.ul-ngang li a{
  display: block;
  padding: 0 40px;
  line-height: 50px;
  color: white;
  font-weight: bold;
}
.ul-ngang > li:last-child {
  border: none;
}
.ul-ngang li{
  position: relative;
  border-right: 2px solid white;
}
.menu-con{
  visibility: hidden;
  transform: scale(0, 1);
  transform-origin: 0% 0%;
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: royalblue;
  z-index: 1;
}
.menu-con li{
  border-bottom: 2px solid white;
  width: 180px;
  border: 1px solid white;
}
.ul-ngang li:hover > .menu-con{
  visibility: visible;
  transform: scale(1, 1);
  opacity: 1;
}
.ul-ngang > li > .menu-con{
  top: 100%;
  left: 0;
  transform: scale(1, 0);
}
.ul-ngang li:hover{
  background: blue;
} */
